<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vivekbhalodiya.railticket">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.CAMERA"/>

  <application
      android:name=".BaseApplication"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">
    <activity
        android:name=".feature.userlogin.UserLoginActivity"
        android:screenOrientation="portrait">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity android:name=".feature.usersignup.UserSignUpActivity">
    </activity>
    <activity android:name=".feature.adminlogin.AdminLoginActivity">
    </activity>
    <activity android:name=".feature.trainsearch.TrainSearchActivity">
    </activity>
    <activity android:name=".feature.trainresult.TrainResultActivity">
    </activity>
    <activity android:name=".feature.fareavailabilty.FareActivity">
    </activity>
    <activity android:name=".feature.passsengerdetail.PassengerDetailsActivity">
    </activity>
    <activity android:name=".feature.ticketview.TicketViewActivity">
    </activity>
    <activity android:name=".feature.mybookings.MyBookings">
    </activity>
    <activity android:name=".feature.trainlivestatus.TrainLiveStationSearchActivity">
    </activity>
    <activity android:name=".feature.trainlivestatus.TrainLiveStationActivity">
    </activity>
    <activity android:name=".feature.qrcodescanner.QRCodeScanner">
    </activity>
    <activity android:name=".feature.ticketview.TicketNotFoundActivity">
    </activity>
  </application>

</manifest>